<nav id="navigation" class="container component-navigation" role="navigation">
  <div class="row">

    <div class="navigation-brand col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <a class="navigation-logo" href="/">Flexstrap</a>
    </div>

    <a class="navigation-toggle hide-sm"><i class="icon-menu"></i></a>

    <div class="navigation-menu col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">

      <ul class="navigation-links">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/">CSS</a></li>
        <li><a href="/grid">Grid</a></li>
        <li><a href="/">Components</a></li>
      </ul>

    </div>

    <div class="navigation-social hide-xs hide-sm">

    </div>
  </div>
</nav>
