<nav id="navigation" class="container component-navigation" role="navigation">
  <div class="row">

    <div class="navigation-brand col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <a class="navigation-logo" href="/">Flexstrap</a>
    </div>

    <a class="navigation-toggle hide-sm hide-md hide-lg hide-xl"><i class="icon-menu"></i></a>

    <div class="navigation-menu col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10">

      <ul class="navigation-links">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/">CSS</a></li>
        <li><a href="/grid">Grid</a></li>
        <li class="navigation-dropdown">
          <a href="#">Components</a>

          <div class="navigation-dropdown-menu">
            <h2 class="navigation-dropdown-title hide-xs">Components</h2>
            <p class="navigation-dropdown-desc hide-xs">Optional pieces that can be added.</p>

            <ul class="navigation-dropdown-links">
              <li><a href="/components/buttons">Buttons</a></li>
              <li><a href="/components/navigation">Navigation</a></li>
            </ul>
          </div>
        </li>
      </ul>

    </div>

    <div class="navigation-social hide-xs hide-sm">

    </div>
  </div>
</nav>
