<header id="header-grid" class="container container-fluid component-header">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h1>Grid</h1>
      <h2>Because life wasn't flexible enough for ya.</h2>
    </div>
  </div>
</header>

<section class="container container-demo-grid">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2>Stacked Horizontal</h2>
    </div>
  </div>

  <div class="row row-demo-grid row-demo-grid-numbers">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">1</div>
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">11</div>
  </div>

  <div class="row row-demo-grid row-demo-grid-numbers">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">2</div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">10</div>
  </div>

  <div class="row row-demo-grid row-demo-grid-numbers">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">3</div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">9</div>
  </div>

  <div class="row row-demo-grid row-demo-grid-numbers">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">4</div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">8</div>
  </div>

  <div class="row row-demo-grid row-demo-grid-numbers">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">5</div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">7</div>
  </div>

  <div class="row row-demo-grid row-demo-grid-numbers">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">6</div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">6</div>
  </div>

  <div class="row row-demo-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2>Align Content</h2>

      <p>Defines the horizontal axis behavior of columns within a row.</p>
    </div>
  </div>

  <div class="row row-demo-sub-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3>Stretch (Default)</h3>
      <p>Columns stretch to fill the remaining space.</p>
    </div>
  </div>

  <div class="row row-demo-grid row-demo-align-content">
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>

    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
  </div>

  <div class="row row-demo-sub-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3>Start</h3>
      <p>Columns align to the top of the row.</p>
    </div>
  </div>

  <div class="row row-demo-grid row-demo-align-content align-content-start">
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>

    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
  </div>

  <div class="row row-demo-sub-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3>End</h3>
      <p>Columns align to the bottom of the row.</p>
    </div>
  </div>

  <div class="row row-demo-grid row-demo-align-content align-content-end">
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>

    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
  </div>

  <div class="row row-demo-sub-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3>Center</h3>
      <p>Columns align to the center of the row.</p>
    </div>
  </div>

  <div class="row row-demo-grid row-demo-align-content align-content-center">
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>

    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
  </div>

  <div class="row row-demo-sub-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3>Space Around</h3>
      <p>Columns position themselves to make sure the first line is at the top of the row and the last line is at the bottom, with even spacing between the lines.</p>
    </div>
  </div>

  <div class="row row-demo-grid row-demo-align-content align-content-space-around">
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>

    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
  </div>

  <div class="row row-demo-sub-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3>Space Between</h3>
      <p>Columns position themselves to make sure the first line is at the top of the row and the last line is at the bottom, with spacing between the lines.</p>
    </div>
  </div>

  <div class="row row-demo-grid row-demo-align-content align-content-space-between">
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>

    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
    <div class="align-content-box col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">4</div>
  </div>

  <div class="row row-demo-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2>Align Items</h2>

      <p>Defines the vertical axis behavior of columns within a row.</p>
    </div>
  </div>

  <div class="row row-demo-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3>Stretch (Default)</h3>
      <p>Columns stretch to the height of the tallest column in the row by default.</p>
    </div>
  </div>

  <div class="row row-demo-grid">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot, went to the park.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot, went to the park and met a dog named Spark.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot, went to the park and met a dog named Spark. There they became the best of friends.</div>
  </div>

  <div class="row row-demo-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3>Start</h3>
      <p>Columns align to the top of the row, and only stretch down as far as their respective height.</p>
    </div>
  </div>

  <div class="row row-demo-grid align-items-start">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot, went to the park.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot, went to the park and met a dog named Spark.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot, went to the park and met a dog named Spark. There they became the best of friends.</div>
  </div>

  <div class="row row-demo-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3>End</h3>
      <p>Columns align to the bottom of the row, and only stretch up as far as their respective height.</p>
    </div>
  </div>

  <div class="row row-demo-grid align-items-end">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot, went to the park.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot, went to the park and met a dog named Spark.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot, went to the park and met a dog named Spark. There they became the best of friends.</div>
  </div>

  <div class="row row-demo-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3>Center</h3>
      <p>Columns align to the center of the row, based on the average height of all columns in the row.</p>
    </div>
  </div>

  <div class="row row-demo-grid align-items-center">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot, went to the park.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot, went to the park and met a dog named Spark.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot, went to the park and met a dog named Spark. There they became the best of friends.</div>
  </div>

  <div class="row row-demo-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3>Baseline</h3>
      <p>Columns position themselves to the baseline of each column, regardless of their respective font size &amp; line height.</p>
    </div>
  </div>

  <div class="row row-demo-grid align-items-baseline">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 font-size-32">Stark, the robot.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot, went to the park.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3  font-size-24">Stark, the robot, went to the park and met a dog named Spark.</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Stark, the robot, went to the park and met a dog named Spark. There they became the best of friends.</div>
  </div>

  <div class="row row-demo-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2>Align Self</h2>

      <p>Allows columns to align themselves and override align-items in a row.</p>
    </div>
  </div>

  <div class="row row-demo-grid row-demo-align-self">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">Stretch (Default)</div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-self-start">Start</div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-self-center">Center</div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-self-baseline">Baseline</div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-self-baseline">Baseline</div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-self-end">End</div>
  </div>

</section>
