<header id="header-home" class="container container-fluid component-header">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h1>Flexstrap</h1>
      <h2>Responsive, mobile-first web products using flexible components.</h2>

      <a class="btn btn-white" href="/get-started#download">Download</a>
    </div>
  </div>
</header>
