@import 'grid/_definitions'
@import 'mixins/gradients/_definitions'

html, body
  height 100%

@media mq-sm-min

  body
    padding-top 50px

a
  color blue2
  text-decoration none

.component-header
  gradient(blue2, blue3, 180deg)
  color #fff
  text-align center
